<centering><h1>Pengenalan Mata Uang Menggunakan Image Retrieval Sederhana</h1></centering>

# 1. Load gambar referensi dan gambar uji

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os

path_referensi = "/content/rupiahimage/spesimen/"
path_uji = "/content/rupiahimage/foto/"

file_referensi = os.listdir(path_referensi)
file_uji = os.listdir(path_uji)

# 2. Ekstraksi fitur untuk gambar referensi

In [8]:
import matplotlib.pyplot as plt
import cv2
import numpy as np

def create_features(img):
  R = np.mean(img[:,:,0].flatten())
  G = np.mean(img[:,:,1].flatten())
  B = np.mean(img[:,:,2].flatten())
  img_hsv = cv2.cvtColor(img, cv2.COLOR_RGB2HSV)
  H = np.mean(img_hsv[0])
  return [R,G,B,H]

feat_referensi = []
for file_img in file_referensi:
  img = plt.imread(path_referensi + file_img)
  feat_referensi.append(create_features(img))

# 3. Ekstraksi fitur untuk gambar uji

In [9]:
feat_uji = []
for file_img in file_uji:
  img_uji = plt.imread(path_uji + file_img)
  feat_uji.append(create_features(img_uji))

# 4. Hitung jarak euclidean untuk tiap data uji ke semua data referensi

Hanya diambil 1 jarak terdekat saja dan hanya prediksi nominal. Karena data referensi tidak memenuhi untuk menggunakan kNN

In [12]:
import pandas as pd

hasiltotal = []
for idx,uji in enumerate(feat_uji):
  total_jarak = []
  for referensi in feat_referensi:
    jarak = np.linalg.norm(np.array(uji) - np.array(referensi))
    total_jarak.append(jarak)
  idxmin = np.argmin(total_jarak)
  temp = {
      "nominal_prediksi": int(file_uji[idx].split("-")[1])*1000,
      "nominal_referensi": int(file_referensi[idxmin].split("-")[1])*1000,
      "jarak":total_jarak[idxmin],
      "kesimpulan":file_referensi[idxmin].split("-")[1] == file_uji[idx].split("-")[1]
  }
  hasiltotal.append(temp)

pd.DataFrame(hasiltotal)

   nominal_prediksi  nominal_referensi      jarak  kesimpulan
0            100000             100000  10.159650        True
1            100000             100000   7.423077        True
2             50000               1000  29.053539       False
3             50000               2000  27.356174       False
4              5000               5000  14.572032        True
5              5000               5000  12.124659        True
6              2000               2000  24.894410        True
7              2000               2000  14.637891        True